.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.form-wrapper{
  width: 25em;
  /* border: 1px solid green; */

}

.form-item{
  padding:0.2em;
}

label{
  width: 10em;
}

input{
  flex:1;
}

#form-save{
  padding-left: 10em;
}

#save{

}

#art-list{
    flex-flow: wrap;
}

#list-item{
  border: 2px solid darkblue;
  background-color: turquoise;
  border-radius: 8px;
  min-width: 20em;
  padding: 1em;
  margin:1em;
  display:flex;
  flex-direction: column;

}

#item-size{
  display:flex;
  flex-direction: row;
}
