.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.form-wrapper{
  width: 25em;
  /* border: 1px solid green; */

}

.form-item{
  padding:0.2em;
}

label{
  width: 10em;
}

input{
  flex:1;
}

#form-save{
  padding-left: 10em;
}

#save{
  background-color: turquoise;
  border-radius: 4px;
  color: white;
  outline: none;
}
#save:hover{
  background-color: blue;
}

#art-list{
    flex-flow: wrap;
}

#list-item{
  border: 2px solid darkblue;
  background-color: turquoise;
  border-radius: 8px;
  max-width: 20em;
  padding: 1em;
  margin:1em;
}

#item-img{
  /* width:100%; */
  width:20em;
}

#item-desc {
  flex-flow: wrap;
}

#delete-all{
  background-color: violet;
  border-radius: 4px;
  color: white;
  outline: none;
}
#delete-all:hover{
  background-color: purple;
}
