.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

#form-wrapper{

  width: 25em;
}

.form-item{
  padding:0.2em;
}

label{
  width: 10em;
}

input{
  flex:1;
}

#form-save{
  padding-left: 10em;
  /* border: 1px solid green; */
}

#save{

}
